@model ApplicationCore.Models.Response.MovieResponseModel

<div class="card mb-4 shadow bg-light">
    <a asp-controller="Movie" asp-action="Details" asp-route-id="@Model.Id">
        <img src="@Model.PosterUrl" class="card-img-top" alt="@Model.Title" />
    </a>
</div>