@model IEnumerable<ApplicationCore.Entities.Genre>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
            }
        </tbody>
    </table>
