

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  [routerLink]="['/']">Movie Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="!isAuth">
          <a [routerLink]="['/login']" class="nav-link">Login</a>
        </li>
        <li class="nav-item dropdown " *ngIf="isAuth">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropDownList" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Hello {{currentUserModel.familyName}}, {{currentUserModel.givenName}}
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"  href="#" [routerLink]="['/profile']">Profile</a>
            <a class="dropdown-item" href="#" [routerLink]="['/purchases']">Purchases</a>
            <a class="dropdown-item" href="#" [routerLink]="['/reviews']">Reviews</a>
            <a class="dropdown-item"  href="#" [routerLink]="['/favorites']">Favorites</a>
            <a class="dropdown-item" [routerLink]="['/logout']" (click)="logout()">Log Out</a>
          </div>
        </li>

        <!-- Directives in angular -->
        <!-- Angular has lot of built-in directives you can use, it is custom html tag attributes -->
        <li class="nav-item" *ngIf="!isAuth">

            <a [routerLink]= "[ '/register']" class="nav-link">Register</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
