
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">First Name</label>
  </div>
  <div class="col-md-8 col-6">
    <input [(ngModel)]="profileResponse.firstName">
  </div>
</div>
<hr />


<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Last Name</label>
  </div>
  <div class="col-md-8 col-6">
    <input [(ngModel)]="profileResponse.lastName">

  </div>
</div>
<hr />

<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Birth Date</label>
  </div>
  <div class="col-md-8 col-6">
    <input [(ngModel)]="profileResponse.dateOfBirth">

  </div>
</div>
<hr />


<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Email</label>
  </div>
  <div class="col-md-8 col-6">
     <input [(ngModel)]="profileResponse.email">
  </div>
</div>
<hr />

<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Phone Number</label>
  </div>
  <div class="col-md-8 col-6">
    <input [(ngModel)]="profileResponse.phoneNumber">

  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
     <button (click)="save( )">Save</button>
  </div>

</div>

