
<div class="col-12">
  <div class="card">

    <div class="card-body">
      <div class="card-title mb-4">
        <div class="d-flex justify-content-start">

          <div class="userData ml-3">
            <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{profileResponse.firstName}}, {{profileResponse.lastName}}</h2>

          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Purchased Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="editProfile-tab" data-toggle="tab" href="#editProfile" role="tab" aria-controls="editProfile" aria-selected="false">Edit Profile</a>
            </li>
          </ul>
          <div class="tab-content ml-1" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


              <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                  <label style="font-weight:bold;">First Name</label>
                </div>
                <div class="col-md-8 col-6">
                  {{profileResponse.firstName}}
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                  <label style="font-weight:bold;">Last Name</label>
                </div>
                <div class="col-md-8 col-6">
                  {{profileResponse.lastName}}
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                  <label style="font-weight:bold;">Birth Date</label>
                </div>
                <div class="col-md-8 col-6">
                  {{profileResponse.dateOfBirth}}
                </div>
              </div>
              <hr />


              <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                  <label style="font-weight:bold;">Email</label>
                </div>
                <div class="col-md-8 col-6">
                  {{profileResponse.email}}
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                  <label style="font-weight:bold;">Phone Number</label>
                </div>
                <div class="col-md-8 col-6">
                  {{profileResponse.phoneNumber}}
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                  <label style="font-weight:bold;">Last Login Date Time</label>
                </div>
                <div class="col-md-8 col-6">
                  {{profileResponse.lastLoginDateTime}}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                  <button (click)="edit()">Edit</button>
                </div>

              </div>

            </div>
            <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
              <table class="table table-striped table-advance table-hover">
                <tbody>

                <tr>
                  <th>
                    Title
                  </th>
                  <th>
                    Purchased Time
                  </th>
                  <th>
                    Link
                  </th>
                </tr>


                <tr *ngFor="let item of (profileResponse.purchasedMovies)">

                  <td>
                    {{item.title}}
                  </td>
                  <td>
                    {{item.purchaseDateTime}}
                  </td>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-primary" [routerLink]="['/movies', item.id]" >
                        <i class="icon_plus_alt2">DETAIL</i>
                      </a>

                    </div>
                  </td>



                </tr>

                </tbody>

              </table>

            </div>
            <div class="tab-pane fade" id="editProfile" role="tabpanel" aria-labelledby="editProfile-tab-tab">
              <app-edit-profile [profileResponse]="selectedProfileResponse" (profileResponseChange)="update($event)" ></app-edit-profile>

            </div>


          </div>
        </div>
      </div>


    </div>

  </div>
</div>
